<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">

<div class="row">
<%= form_with url: pay_path do |form| %>
    <plain>
      
      <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="<%=@payjp_pk%>"></script>
  
    </plain>

    <%#= hidden_field_tag :amount, @amount %>
  <% end %>

</div>

</div>
</div>

  