<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">Piano Lesson Admin</h1>
    <h2 class="text-white">Special music salon for manager.</h2>
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <%= link_to 'Admin Login', '#', class: 'btn btn-block btn-white' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-5 col-md-3">
        <%= link_to 'Password Reset', '#',class: 'btn btn-block btn-white' %>
      </div>
    </div>
  </div>
</div>